.chat-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 320px;
    box-shadow: 0 4px 12px var(--shadow-color);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--container-bg);
}

.chat-header {
    background-color: var(--primary-btn-bg);
    color: white;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.chat-content {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.messages-container {
    display: flex;
    flex-direction: column;
}

.message-text {
    margin-bottom: 4px;
    font-size: 14px;
}

.current-user {
    color: var(--link-color);
    margin-left: auto;
    text-align: right;
}

.other-user {
    color: var(--delete-btn-bg);
    margin-right: auto;
    text-align: left;
}

.chat-input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid var(--container-light-bg);
    border-radius: 4px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-color);
}

.chat-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: var(--primary-btn-bg);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.chat-button:hover {
    background-color: var(--primary-btn-hover);
}

.minimized .chat-content {
    display: none;
}

.minimized .toggle-button::before {
    content: "▲";
}